@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenDyslexic-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/OpenDyslexic-Bold-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}