/* OpenDyslexic Font */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}

/* Lexend Variable Font */
@font-face {
    font-family: 'Lexend';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Lexend-VariableFont_wght.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Lexend-VariableFont_wght.ttf') format('truetype'),
        url('fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

/* Andika Font */
@font-face {
    font-family: 'Andika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Regular.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Regular.ttf') format('truetype'),
        url('fonts/Andika-Regular.ttf') format('truetype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Bold.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Bold.ttf') format('truetype'),
        url('fonts/Andika-Bold.ttf') format('truetype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Italic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Italic.ttf') format('truetype'),
        url('fonts/Andika-Italic.ttf') format('truetype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Andika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-BoldItalic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-BoldItalic.ttf') format('truetype'),
        url('fonts/Andika-BoldItalic.ttf') format('truetype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}

/* BalsamiqSans Font */
@font-face {
    font-family: 'BalsamiqSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Regular.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Regular.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BalsamiqSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Bold.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Bold.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Bold.ttf') format('truetype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BalsamiqSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Italic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Italic.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Italic.ttf') format('truetype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BalsamiqSans';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-BoldItalic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-BoldItalic.ttf') format('truetype'),
        url('fonts/BalsamiqSans-BoldItalic.ttf') format('truetype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}

/* OpenAndika Font - Using OpenDyslexicAlta for Latin, Andika for non-Latin scripts */
@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Regular.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Regular.ttf') format('truetype'),
        url('fonts/Andika-Regular.ttf') format('truetype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Bold.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Bold.ttf') format('truetype'),
        url('fonts/Andika-Bold.ttf') format('truetype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-Italic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-Italic.ttf') format('truetype'),
        url('fonts/Andika-Italic.ttf') format('truetype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenAndika';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Andika-BoldItalic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/Andika-BoldItalic.ttf') format('truetype'),
        url('fonts/Andika-BoldItalic.ttf') format('truetype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

/* OpenBalsamiq Font - Using OpenDyslexicAlta for Latin, BalsamiqSans for Cyrillic and Greek scripts */
@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Regular.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Bold.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-Italic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype'),
        url('fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Regular.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Regular.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Regular.ttf') format('truetype');
    font-weight: 100 599;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Bold.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Bold.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Bold.ttf') format('truetype');
    font-weight: 600 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Italic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-Italic.ttf') format('truetype'),
        url('fonts/BalsamiqSans-Italic.ttf') format('truetype');
    font-weight: 100 599;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
    font-family: 'OpenBalsamiq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-BoldItalic.ttf') format('truetype'),
        url('moz-extension://__MSG_@@extension_id__/fonts/BalsamiqSans-BoldItalic.ttf') format('truetype'),
        url('fonts/BalsamiqSans-BoldItalic.ttf') format('truetype');
    font-weight: 600 900;
    font-style: italic;
    font-display: swap;
    unicode-range: U+0370-03FF, U+0400-052F, U+1F00-1FFF, U+2DE0-2DFF, U+A640-A69F;
}